<!-- templates/index.html -->

{% extends "base.html" %}

{% block content %}
  <section class="section">
    <div class="container">
      <h2>Welcome to our Online Store</h2>
      <p>Explore our amazing products and make a purchase today!</p>
      <button class="button is-primary" id="submitBtn">Purchase!</button>
    </div>
  </section>
{% endblock %}